<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Jakub Perkowski - Software Engineer
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ request.url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
</head>

<body>

    <header class="top-bar">
        <div class="brand">
            {{ content.name_title }}
        </div>
        <nav class="nav-menu">
            
            <a
                href="{{ request.url_for('about_page') }}?lang={{ current_lang }}"
                class="nav-item{% if active_page == 'about' %} active{% endif %}"
            >
                {{ content.nav.about }}
            </a>
            <span class="separator">|</span>
            
            <a
                href="{{ request.url_for('projects_page') }}?lang={{ current_lang }}"
                class="nav-item{% if active_page == 'projects' %} active{% endif %}"
            >
                {{ content.nav.projects }}
            </a>
            <span class="separator">|</span>

            <a
                href="{{ request.url_for('contact_page') }}?lang={{ current_lang }}"
                class="nav-item{% if active_page == 'contact' %} active{% endif %}"
            >
                {{ content.nav.contact }}
            </a>
            <span class="separator">|</span>
            
            <div class="lang-switcher">
                {% if current_lang == 'pl' %}
                    <a
                        href="{{ request.url.include_query_params(lang='en') }}"
                        class="lang-icon"
                        title="Switch to English">
                        <span class="fi fi-gb"></span>
                    </a>
                {% else %}
                    <a
                        href="{{ request.url.include_query_params(lang='pl') }}"
                        class="lang-icon"
                        title="Przełącz na polski">
                        <span class="fi fi-pl"></span>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{{ request.url_for('static', path='js/common.js') }}"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>